{% extends "frame.html" %}

{% block webTitle %}查看表{% endblock %}

{% block appbarHeadline %}SQLite{% endblock %}

{% block appbarTitle %}查看表：{{ selectedTable }}{% endblock %}

{% block appbar_btns %}
<a href="/" class="mdui-btn mdui-btn-icon">
  <i class="mdui-icon material-icons">home</i>
</a>
{% endblock %}

{% block left_drawer %}
{% include "sqlite/drawer.html" %}
{% endblock %}

{% block content %}
<form action="#" method="post">
  <div class="mdui-row mdui-p-y-1">
    <div class="mdui-col-xs-12">
      <div class="mdui-card">
        <div class="mdui-card-primary">
          <div class="mdui-card-primary-title">{{ selectedTable }}</div>
          <div class="mdui-card-primary-subtitle">查看表，第{{ page }}页</div>
        </div>
        <div class="mdui-card-content">

          <div class="mdui-table-fluid">
            <table class="mdui-table">
              <thead>
                <tr>
                  {% for column in columns %}
                  <th>
                    {% if column[5] == 1 %}
                    <i class="mdui-icon material-icons mdui-text-color-theme-accent" mdui-tooltip="{content: '主键'}">beenhere</i>
                    {% endif %}
                    <span class="mdui-text-color-theme-accent" onclick="orderUrl('{{ column[1] }}')">{{ column[1] }}</span>
                    <br>
                    {% if column[2] == "TEXT" %}
                    <i class="mdui-icon material-icons" mdui-tooltip="{content: '{{ column[2] }}'}">text_fields</i>
                    {% elif column[2] == "INT" %}
                    <i class="mdui-icon material-icons" mdui-tooltip="{content: '{{ column[2] }}'}">filter_6</i>
                    {% elif column[2] == "REAL" %}
                    <i class="mdui-icon material-icons" mdui-tooltip="{content: '{{ column[2] }}'}">inbox</i>
                    {% else %}
                    <i class="mdui-icon material-icons" mdui-tooltip="{content: '{{ column[2] }}'}">more</i>
                    {% endif %}
                    {% if column[3] == 1 %}
                    <i class="mdui-icon material-icons mdui-text-color-green" mdui-tooltip="{content: '不可空'}">check_circle</i>
                    {% endif %}
                  </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in rows %}
                <tr>
                  {% for item in row %}
                  <td>{{ item }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
        </div>
        <div class="mdui-card-actions">
          第{{ page }}页，每页{{ fetchlimit }}条。
        </div>
      </div>
    </div>
  </div>
</form>

<script>
function orderUrl(column_name) {
  var urlParams = new URLSearchParams(window.location.search);
  urlParams.set('orderby', column_name);
  window.location.search = urlParams.toString();
}
function toPage(page) {
  var urlParams = new URLSearchParams(window.location.search);
  urlParams.set('page', page);
  window.location.search = urlParams.toString();
}
</script>

{% endblock %}